#exampleFormControlTextarea1 {
  width: 50%;
  resize: none;
}
#group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 87%;
}
.priority {
  border-radius: 10px;
  width: 9%;
  padding: 6px;
}
body {
  background-image: url(https://www.fg-a.com/christmas-bg/snowman-scene.jpg);
}
.AiOutlineDelete {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
